<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AnimalAdd</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container-fluid text-center">
    <div class="col-sm-4 offset-sm-4 text-center"><h2>Hayvan Ekle</h2></div>
    <form th:action="@{/animals/add}" method="post" th:object="${animal}" >
        <input type="hidden" th:field="*{id}">
        <div class="form-row">
            <div class="col-sm-4 offset-sm-4 text-center" >
                <div class="form-group">
                    <label class="col-form-label">İsim:</label>
                    <input type="text" class="form-control" th:field="*{name}"></input>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Yaş:</label>
                    <input type="text"  class="form-control" th:field="*{age}"></input>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Tür:</label>
                    <input type="text" class="form-control" th:field="*{species}"></input>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Açıklama:</label>
                    <input type="text" class="form-control" th:field="*{description}"></input>
                </div>
                <div class=""><h2>Hayvan Sahibi</h2></div>
                <div class="form-group">
                    <label class="col-form-label">Id:</label>
                    <input type="text"  class="form-control" th:field="*{animalOwner.id}"></input>
                </div>
                <div class="form-group">
                    <label class="col-form-label">İsim:</label>
                    <input type="text" class="form-control" th:field="*{animalOwner.firstName}"></input>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Soyisim:</label>
                    <input type="text" class="form-control" th:field="*{animalOwner.lastName}"></input>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Telefon:</label>
                    <input type="text"  class="form-control" th:field="*{animalOwner.mobilePhone}"></input>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Mail:</label>
                    <input type="text" class="form-control" th:field="*{animalOwner.email}"></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-sm" id="userFormButton"
                            type="submit">
                        <i class="fa  fa-plus-square"></i>Ekle
                    </button>
                    <button class="btn btn-danger btn-sm" id="userFormButton2"
                            type="button" onclick="cancelForm()">
                        <i class="fa  fa-plus-square"></i>İptal
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/animals}]]"
    }
</script>
</body>
</html>